<% layout('layout') -%>


<% if(user) { %>
<% if (response && response.user) { %>
<div class="container">
    <div class="card card-register mx-auto mt-6">
      <div class="card-header">Update the Mobile User Account</div>
      <div class="card-body">
        
        <form name="updateUserMobileForm" action="/userMobile/update/<%= response.user.userName %>" method="post" id="updateUserMobileForm" onSubmit="return true;">

          <div class="form-group">
            <div class="form-row">
              <% if(response.updated && response.updated == false) { %>
               <label style="color:red">Fields could not be updated.</label>
              <% } %>
              <% if(response.updated && response.updated == true) { %>
               <label style="color:green">Fields Successfully Updated!</label>
              <% } %>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">First name</label>
                <input class="form-control" id="firstName" name="firstName" type="text" aria-describedby="nameHelp" placeholder="Enter first name" value="<%=response.user.firstName %>" required maxlength="20">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Last name</label>
                <input class="form-control" id="lastName" name="lastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name" value="<%= response.user.lastName %>" required maxlength="20">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <label for="exampleInputUserType">User Type</label>
              <select name="userType" id="userType" value="<%=response.user.userType %>" class="form-control">
                <option class="inspector 1" value="INSPECTOR1">INSPECTOR1</option>
                <option class="function operator" value="FUNCTIONAL_OPERATOR">FUNCTIONAL_OPERATOR</option>
                <option class="inspector 2" value="INSPECTOR2">INSPECTOR2</option>
                <option class="inspector 3" value="INSPECTOR3">INSPECTOR3</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputUsername">UserName</label>
            <input class="form-control" id="userName" name="userName" type="text" aria-describedby="UsernameHelp" readonly="readonly" value="<%= response.user.userName %>" disabled>
          </div>
          <div class="form-group">
            <div class="form-row">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="password" name="password" type="text" value="<%= response.user.password %>" required maxlength="6">
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="Submit">Update</button>
        </form>
      </div>
      
    </div>
</div>

<script>
	document.getElementsByClassName("<%=response.user.usertype %>")[0].selected = true; 
</script>

<% } else{%>
<h2>No Record Found.</h2>
<% } %>
<% } %>

